@tailwind base;
@tailwind components;
@tailwind utilities;

p,
span,
a,
button,
input,
label,
textarea,
select,
option,
li {
  font-family: var(--font-body) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings) !important;
}

.logo {
  color: #ffaf38;
  background-image: linear-gradient(
    135deg,
    white 37%,
    yellow 37%,
    white 59%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}


.right-item-services{
  clip-path: polygon(0% 0%, 89% 0, 100% 50%, 89% 100%, 0% 100%);
}

.left-item-services{
  clip-path: polygon(11% 1%, 100% 0%, 100% 100%, 11% 100%, 0% 50%) !important;
}


.pricinglist{
  list-style: "✔ .";
  list-style-position: inside;

  /* line-height-step: 5; */
}